<div class="notification">
  <div class="notiglow"></div>
  <div class="notiborderglow"></div>
  <div class="notititle">Welcome To My Web App</div>
  <div class="notibody">
    <div class="typewriter-container">
    <p>{{ displayedText }}</p>
  </div>
  </div>
</div>

<div class="window">
  <div class="logo">
    <p class="top">Web App</p>
    <p class="mid">PixelCraft<span>PC</span></p>
    <p class="bottom">Development</p>
  </div>
  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
