.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 20rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
  margin: 80px 0px 0px 0px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;

}
.window{
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}
@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  margin: -20px 0px 0px 0px ;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}
.typewriter-container {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre-wrap; /* Preserves whitespace formatting */
  overflow: hidden; /* Hides overflow text */
  width: fit-content;
  animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #32a6ff;
  }
}

/* -------------------------------------------------------------------------------------------------------- */
.container {
width: 150px;
height: 10px;
border: 2px solid #b2b2b2;
border-radius: 7px;
margin: 0 auto;
padding: 2px 1px;
overflow: hidden;
font-size: 0;
opacity: 0;
transform: translateY(20px);
animation: fadeInUp 1s ease-in-out forwards;
}
@keyframes fadeInUp {
to {
    opacity: 1;
    transform: translateY(0);
}
}
.box {
width: 9px;
height: 100%;
background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
display: inline-block;
margin-right: 2px;
animation: loader 2s infinite;
animation-timing-function: linear;
}

.logo {
width: 220px;
margin: 50px auto;
margin-top: 20px;
}

.logo p {
margin: 0;
padding: 0;
}

.top {
font-size: 16px;
font-weight: 300;
line-height: 16px;
}

.top:after {
content: "\00a9";
font-size: 10px;
position: relative;
top: -5px;
margin-left: 2px;
}

.mid {
font-size: 46px;
font-weight: 700;
line-height: 36px;
}

.mid span {
font-size: 22px;
display: inline-block;
vertical-align: top;
color: #FF6821;
margin-top: -8px;
}

.logo .bottom {
font-size: 30px;
font-weight: 300;
line-height: 30px;
margin-left: 5px;
}

@keyframes loader {
0% {
  transform: translate(-30px);
}

100% {
  transform: translate(150px);
}
}

/* ------------------------------------------------------------------------------------------------------ */
