<div class="main">
  <nav>
    <a class="A1" routerLink="/home">Home</a>
    <a class="A2" routerLink="/about">About</a>
    <a class="A3" routerLink="/products">products</a>
    <a class="A4" routerLink="/services">Services</a>
    <a class="A5" routerLink="/login">
      <span class="actual-text">&nbsp;Login&nbsp;</span>
      <span aria-hidden="true" class="hover-text">&nbsp;Login&nbsp;</span>  
    </a>
    <a class="button" routerLink="/unlock pro">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
        <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
    </svg>
    Unlock Pro
    </a>
  </nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="pyramid-loader">
  <div class="wrapper">
    <span class="side side1"></span>
    <span class="side side2"></span>
    <span class="side side3"></span>
    <span class="side side4"></span>
    <span class="shadow"></span>
  </div>
</div>


