<div class="notification">
    <div class="notiglow"></div>
    <div class="notiborderglow"></div>
    <div class="notititle">Welcome To My Web App</div>
    <div class="notibody">Hello, at your service.
      The site is currently under development.
      You can only register in it or buy pro mode to use it unlimitedly after completing the site (only if you buy it now).</div>
  </div>

  <div class="window">
    <div class="logo">
      <p class="top">Web App</p>
      <p class="mid">PixelCraft<span>PC</span></p>
      <p class="bottom">Development</p>
    </div>
    <div class="container">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>